.CV {
  flex: 2;
  border: solid black;
}

.userInput {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}

.component {
  display: flex;
  flex-direction: column;
  gap: 0px;
  background-color: #c5c3c6;
  border: solid black;
  border-radius: 10px;
  padding: 10px;
  gap: 10px;
}
.component h2,
.component h3,
.component h4 {
  margin: 0;
}
.component .educationDetailsContainer,
.component .experienceDetailsContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.component .positionNameAndInputContainer {
  padding-left: 20px;
}
.component .positionNameAndInputContainer h4:first-child {
  font-style: italic;
}
.component .schoolNameAndInputContainer .educationDetailsInputContainer,
.component .schoolNameAndInputContainer .companyDetailsInputContainer,
.component .schoolNameAndInputContainer .positionDetailsInputContainer,
.component .companyNameAndInputContainer .educationDetailsInputContainer,
.component .companyNameAndInputContainer .companyDetailsInputContainer,
.component .companyNameAndInputContainer .positionDetailsInputContainer,
.component .positionNameAndInputContainer .educationDetailsInputContainer,
.component .positionNameAndInputContainer .companyDetailsInputContainer,
.component .positionNameAndInputContainer .positionDetailsInputContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.component input,
.component textarea {
  background-color: #dcdcdd;
  border-style: none;
  border-radius: 0 5px 5px 0;
  padding: 5px;
}
.component .titleAndSymbols {
  display: flex;
  align-items: center;
}
.component .titleAndSymbols h3,
.component .titleAndSymbols h4 {
  flex: 1;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.component .titleAndSymbols .delete,
.component .titleAndSymbols .display,
.component .titleAndSymbols .chevron {
  flex: 0;
  overflow: visible;
}
.component button {
  padding: 5px;
  border-color: white;
  background-color: white;
  border-style: none;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
  cursor: pointer;
  outline: none;
  outline: 0;
  text-align: center;
  background-color: #1985a1;
  color: #fff;
  margin: 0 10% 0 10%;
}
.component button:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0 3px 9px 0;
  transform: translateY(-2px);
}
.component button:active {
  transform: translateY(2px);
}

.githubLinkContainer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  text-decoration: none;
  color: black;
}
.githubLinkContainer:hover, .githubLinkContainer:active {
  color: #1985a1;
  scale: 1.05;
}
.githubLinkContainer img {
  height: 50px;
  grid-row: 1/3;
  justify-self: center;
}
.githubLinkContainer p {
  margin: 0;
}

.clearLoad {
  gap: 10px;
}
.clearLoad .clear {
  padding: 5px;
  border-color: #ff4742;
  background-color: #ff4742;
  border-style: none;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
  cursor: pointer;
  outline: none;
  outline: 0;
  text-align: center;
  color: #fff;
}
.clearLoad .clear:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0 3px 9px 0;
  transform: translateY(-2px);
}
.clearLoad .clear:active {
  transform: translateY(2px);
}
.clearLoad .load {
  padding: 5px;
  border-color: #13aa52;
  background-color: #13aa52;
  border-style: none;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
  cursor: pointer;
  outline: none;
  outline: 0;
  text-align: center;
  color: #fff;
}
.clearLoad .load:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0 3px 9px 0;
  transform: translateY(-2px);
}
.clearLoad .load:active {
  transform: translateY(2px);
}

.personalDetails {
  gap: 5px;
}

:root {
  font-family: "Open Sans", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #dcdcdd;
  box-sizing: border-box;
}

#root {
  width: 100%;
  padding: 50px;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.mainContainer {
  display: flex;
  gap: 10px;
}

/*# sourceMappingURL=index.css.map */
