:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: var(--vlight-grey);

  --dark-grey: #46494C;
  --light-grey: #C5C3C6;
  --vlight-grey: #DCDCDD;
  --blue-dark-grey: #4C5C68;
  --accent: #1985A1;
}

#root {
  width: 100%;
  padding: 50px;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.mainContainer {
  display: flex;
  gap: 10px;
}
  .userInput {
    display: flex;
    flex-direction: column;
    flex: 1;
    border: solid black;

  }
    .component {
      background-color: var(--light-grey);
      display: flex;
      flex-direction: column;
      border: solid black;
      border-radius: 10px;
      padding: 10px;
    }

  .CV {
    flex: 2;
    border: solid black;
  }
