@use "./variables" as v;
@use "./mixins" as m;

.CV {
  flex: 2;
  border: solid black;
  align-self: flex-start;

  .personalDetailsCV {
    @include m.flexColumnGap;
    background-color: v.$accent;
    padding: 20px;

    h1 {
      align-self: center;
    }
    .emailPhoneLocation {
      display: flex;
      justify-content: space-around;

      div {
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }
  }

  h3 {
    background-color: v.$light-grey;
    padding: 5px;
    text-align: center;
    margin: 10px 0 5px 0;
  }

  .educationListCV {
    display: flex;
    flex-direction: column-reverse;
    .schoolCV {
      display: grid;
      grid-template-columns: auto 1fr;
      grid-template-rows: 1fr 1fr auto;
      gap: 10px;
      margin: 5px 15px;
      padding: 5px;
      border-left: solid v.$accent;

      * {
        margin: 0;
        overflow: hidden;
      }
      .schoolDateRange {
        font-style: italic;
      }
      .schoolDegree {
        grid-column: 1 / 3;
      }
      .schoolDescription {
        grid-column: 1 / 3;
      }
    }
  }
  .experienceListCV {
    display: flex;
    flex-direction: column-reverse;

    .companyCV {
      gap: 10px;
      margin: 5px 15px;
      padding: 5px;
      border-left: solid v.$accent;

      h4 {
        margin: 0 5px 5px 5px;
      }

      .positionContainerCV {
        @include m.flexColumnGap(5);
        flex-direction: column-reverse;
        margin-left: 5px;
        padding-left: 5px;
        // border-left: solid v.$accent;

        .positionCardCV {
          // display: grid;
          // grid-template-columns: auto 1fr;
          // grid-template-rows: auto auto;
          // gap: 5px;
          @include m.flexColumnGap(5);
          padding-left: 5px;

          p {
            margin: 0;
          }
          .positionDateRange {
            font-style: italic;
          }
          .positionDetails {
          }
        }
      }
    }
  }
}
