@use './variables' as v;
@use './mixins' as m;

.userInput {
  @include m.flexColumnGap(10);
  flex: 1;
}
.component {
  @include m.flexColumnGap();
  background-color: v.$light-grey;
  border: solid black;
  border-radius: 10px;
  padding: 10px;
  h2 {
    margin: 0;
  }

  input,
  textarea {
    background-color: v.$vlight-grey;
    border-style: none;
    border-radius: 0 5px 5px 0;
    padding: 5px;
  }
}
.githubLinkContainer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  text-decoration: none;
  color: black;
  &:hover,
  &:active {
    color: v.$accent;
    scale: 1.05;
  }
  img {
    height: 50px;
    grid-row: 1 / 3;
    justify-self: center;
  }
  p {
    margin: 0;
  }
}

.clearLoad {
  gap: 10px;
  .clear {
    @include m.buttonStyle(v.$button-red);
    color: #fff;
  }
  .load {
    @include m.buttonStyle(v.$button-green);
    color: #fff;
  }
}

.personalDetails {
  gap: 5px;
}
