@use "./variables" as v;
@use "./mixins" as m;
@use "./CV";
@use "./userInput";

:root {
  font-family: "Open Sans", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: v.$vlight-grey;
  box-sizing: border-box;
}

#root {
  width: 100%;
  padding: 50px;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.mainContainer {
  display: flex;
  gap: 10px;
}
